body{
  height: 100vh;
  background: #B2E7F3;
  height: 100vh;
}
.app {
  padding: 30px;
}

#header {
  text-align: center;
  color: white;
  font-size: 60px;
  text-shadow: 4px 5px #D9D9D9;
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

.todo-list {
  margin: 0 auto;
  /* background: #B2E7F3; */
  background: yellow;
  border-radius: 4px;
  padding: 5px;
  max-width: 850px;
}

.packageInput {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
  font-size: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 3px #D9D9D9;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.carrierOptions {
  margin-right: 40px;
  width: 120px;
  height: 30px;
}

input[type=text] {
  margin-right: 30px;
  width: 200px;
  height: 25px;
}

.removeButton {
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
}

#buttonText {
  font-size: 6px;
  color: black;
  font-weight: bold;
  text-align: center;
}

#boxImage {
  cursor: pointer;
}

/* #buttonTextAdd {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
} */

.addPackageButton {
  /* width: 150px;
  height: 70px; */
  position: relative;
  top: 110px;
  background-color: #B2E7F3;
  border: none;
}


.input {
  margin-top: 20px;
}

.trackButton{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.track {
  border-radius: 10px;
  text-align: center;
  width: 60px;
  height: 40px;
  margin-left: -20px;
  background-color: white;
  cursor: pointer;
}

button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


/* #bg{
  width: 32px;
  height: 32px;
  opacity: 0;
}

.container {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.btn {
	width: 100px;
	height: 100px;
    border: none;
    color: inherit;
    background: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn img{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.bg {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn-boarder {
    border: 2px solid #fff;
    border-radius: 50%;
}

.animation {
    -webkit-transform: translate(100px, -100px);
    -moz-transform: translate(100px, -100px);
    -o-transform: translate(100px, -100px);
    -ms-transform: translate(100px, -100px);
    transform: translate(100px, -100px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.animation2 {
    -webkit-animation: fadeIn 0.4s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation: fadeIn 0.4s ease-out;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0.4s;
    animation: fadeIn 0.4s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.around {
    width: 101px;
    height: 101px;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.around:after {
    content: '';
    position: absolute;
    z-index: -1;
}

.around-boarder {
    border: 120px solid #B2E7F3;
    border-radius: 50%;
} */
