h1 {
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  /* top: 0%;
  left: 30%; */
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  right: 0;
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 4%;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

.packageName {
  /* border-bottom: solid 2px #000; */
  margin-bottom: 10px;
  background: #b2e7f3;
  font-family: "Fira Sans", sans-serif;
}

.status {
  margin-bottom: 10px;
  font-family: "Fira Sans", sans-serif;
}

.statusDetails {
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Fira Sans", sans-serif;
}
